<mat-card class="content-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{cardButtonDto.caption}}</mat-card-title>
    <mat-card-subtitle>{{cardButtonDto.subCaption}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      {{cardButtonDto.text}}
    </p>
  </mat-card-content>
  <mat-card-actions class="buttons-card">
    <button mat-button>GO</button>
    <button mat-button>What?</button>
  </mat-card-actions>
</mat-card>
