<div fxLayout="row" class="online-calc">
  <div fxFlex="50" fxLayout="column">
    <div fxFlex="50" class="output-digits-box">
      <p class="output-digits-lastvalue">LAST VALUE</p>
      <p class="output-digits-prevvalues">OUTPUT-LIST</p>
    </div>

    <p class="desc">Dies soll ein voll-funktionsfähiger Rechner darstellen. Aktuell gibt es noch nicht soviele Funktionen, aber es werden mehr mit der Zeit. Der Rechner dient zu Testzwecken und zum Üben von Angular.</p>
    <div style="text-align: center;">
      <img src="https://cdn.dribbble.com/users/374101/screenshots/5885738/media/47b34c0f5db871cf09b55139019b0548.gif" alt="Oh no, it died" style="width:20%;">
    </div>
  </div>
  <div fxFlex="50">
    <app-numfield></app-numfield>
  </div>
</div>
